<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_nvyao_xinshouzhuang_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,109}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,44},{120,109}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,105},{116,109}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{116,109}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{114,105}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{114,105}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,214},{110,105}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{110,105}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{106,109}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{106,109}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,319},{106,111}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{106,111}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{112,107}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{112,107}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>role_nvyao_xinshouzhuang_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{118,105}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{118,105}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{238,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065f11703028f4f2c5ad7afb8630c2a0$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
